<html>
    <head>
        <title>Greyboard</title>
        <link rel="stylesheet" href="/css/util.css">
        <link rel="stylesheet" href="/css/index.css">
        
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script type="module" src="./lib/index.js"></script>
    </head>
    <body>
        <div class="container">
            <h1>Greyboard</h1>
            <a href="/new" class="button primary" action="new_board">Start with a fresh board</a>
            <span class="separator">or</span>
            <div class="button">
                <input id="baord_file" class="u-hide" type="file" name="baord_file">
                <label for="baord_file">Load an existing board</label>
            </div>
        </div>
    </body>
</html>