<html>
    <head>
        <title>Greyboard</title>
        <link rel="stylesheet" href="/css/util.css">
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="//cdn.materialdesignicons.com/5.2.45/css/materialdesignicons.min.css">
        <link rel="icon" href="/images/icon.png">

        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script type="module" src="./lib/index.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="banner">
                <h1>Greyboard</h1>
                <div class="actions">
                    <a href="/new" class="button primary" action="new_board">Start with a fresh board</a>
                    <span class="separator">or</span>
                    <div class="button">
                        <input id="baord_file" class="u-hide" type="file" name="baord_file">
                        <label for="baord_file">Load an existing board</label>
                    </div>
                </div>
            </div>
            <div class="public-boards">
                <h2>Public boards</h2>
                <div class="board-grid">
                    <% if(publicBoards.length > 0) { for(var i=0; i < publicBoards.length; i++) {%>
                        <a href="/b/<%= publicBoards[i].id %>" class="board">
                            <div class="board-thumbnail">
                                <i class="mdi mdi-bulletin-board"></i>
                            </div>
                            <div class="board-name"><%= publicBoards[i].name %></div>
                        </a>
                    <% } } else { %>
                        <div class="board-grid-empty">There are no public boards at this moment...</div>
                    <% } %>
                </div>
            </div>
        </div>


        <!-- <div class="container">
            <h1>Greyboard</h1>
            <a href="/new" class="button primary" action="new_board">Start with a fresh board</a>
            <span class="separator">or</span>
            <div class="button">
                <input id="baord_file" class="u-hide" type="file" name="baord_file">
                <label for="baord_file">Load an existing board</label>
            </div>
        </div>
        <div class="public-boards">
            <% for(var i=0; i < publicBoards.length; i++) {%>
                <a href="/b/<%= publicBoards[i].id %>" class="board">
                    <div class="board-thumbnail">
                        <i class="mdi mdi-bulletin-board"></i>
                    </div>
                    <div class="board-name"><%= publicBoards[i].name %></div>
                </a>
            <% } %>
        </div>

        <div class="loading">
            <img src="./images/loading.gif" alt="loading">
        </div> -->
    </body>
</html>